body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

* {
    box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* TYPOGRAPHY */

h1 {
    font-size: 3rem;
}
